/*
COLOR PALETTE

Blue #93B7BE
White #F1FFFA
Beige #D5C7BC
Mauve #785964
Black #454545

*/

*{
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background-color: #D5C7BC;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: scroll;
}

header {
    color: #454545;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 30vh; */
    /* margin-bottom: 30vh; */
}

h1,
h2 {
    margin: 0;
    transform: translateY(-10vh);
}

h1 {
    font-size: 72px;
    margin-bottom: 20px;

    &:before {
        content: '{';
        color: #93B7BE;
        margin-right: 50px;
    }

    &:after {
        content: '}';
        color: #93B7BE;
        margin-left: 50px;
    }

    &::before, &::after {
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.typewriter h2 {
    overflow: hidden;
    border-right: .15em solid #785964;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #785964
    }
}

.content-wrapper {
    text-align: center;
    margin-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    margin: auto;
}

.landing {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#down {
    position: absolute;
    top: 85vh;
    padding: 20px;
    font-size: 2.5em;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 600;
}

#down:hover{
    cursor: pointer;
    background-color: #785964;
    color: #F1FFFA;
    border-radius: 50%;
    opacity: 0.8;
}

.resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 1rem;
}

.project-item {
    margin-bottom: 2rem;
    padding: 2rem;
}

.cards-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-1 {
    background-image: url("../images/matrix-tumbnail.png");
    box-shadow: 0 0 80px -10px #454545;
}

.card-2 {
    background-image: url("../images/arduino-proj.jpg");
    box-shadow: 0 0 80px -10px #93B7BE;
}

.card-3 {
    background-image: url("../images/2048-game.png");
    box-shadow: 0 0 80px -10px #F1FFFA;
}

.card-1,
.card-2,
.card-3 {
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 250px;
    width: 450px;
    margin: 0 auto;

}

.card-1,
.card-3 {
    opacity: 0;
    transform: translateY(100px) translateX(-100px);
    transition: opacity 0.5s, transform 0.8s;
}

.card-2 {
    opacity: 0;
    transform: translateY(100px) translateX(100px);
    transition: opacity 0.5s, transform 0.8s;
}

.card-1.fade-in,
.card-2.fade-in,
.card-3.fade-in {
    opacity: 1;
    transform: translateY(0) translateX(0);
}

.card-1 .info,
.card-2 .info,
.card-3 .info {
    color: #454545;
    bottom: 1px;
    margin: 24px;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.card-fill {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fill-bg {
    background: #F1FFFA;
    border-radius: 8px;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
}

.action {
    z-index: 1;
    margin-bottom: 1.5rem;
    margin-left: 24px;
    margin-right: auto;
}

.action a {
    height: 24px;
    width: 132px;
    border-radius: 4px;
    background-color: #D5C7BC;
    color: #785964;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;

    margin-top: 25px;
}

/*-----------Technical Proficiencies-----------*/
.skills-section {
    justify-content: center;
    align-items: center;
}

.skills-section h3{
    font-size: 32px;
    font-weight: 600;
}

.skills-section ul {
    padding: 12px;
}

.skills-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-div li {
    list-style: none;
    text-align: center;
    margin: 12px auto;
}

.tech-div li p {
    margin: 12px auto;
}

.skills-logo ul img {
    width: 72px;
    height: 80px;
    object-fit: contain;
}