
/*
COLOR PALETTE

Blue #8DAA9D
White #FBF5F3
Purple #522B47
Mauve #7B0828
Black #0F0E0E

*/

* {
    background: #FBF5F3;
}

.topnav ul li a {
    font-size: 14px;
}

.content {
    margin-bottom: 10%;
}

h1 {
    text-align: center;
    margin: 12px 20%;
    color: #FBF5F3;
    background-color: #8DAA9D;
}

p {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.content .buttons button {
    background-color: #7B0828;
    border: none;
    color: #FBF5F3;
    padding: 4px 8px;
    margin: 12px 12px 0 0;
    font-weight: 600;
    font-size: 14px;
}

.content .buttons button:hover {
    background-color: #8DAA9D;
    cursor: pointer;
}

.custom-file-button {
    background-color: #7B0828;
    color: #FBF5F3;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 8px;
    margin: 12px 12px 0 0;
    font-size: 14px;
}

.custom-file-button:hover {
    background-color: #93B7BE;
    /* Replace with your desired hover background color */
}

#json {
    height: 70%;
    resize: vertical;
}

footer {
    color: #0F0E0E;
    text-align: center;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

footer p, a{
    font-size: 12px;
    font-weight: 600;
}

footer a {
    color: #522B47;
}

